/*---cabeceras-----*/
h1 {
  color: #A61103; }

h2 {
  color: #66201a; }

h3 {
  color: #0D0D0D; }

/*------------home------------*/
.cover-page {
  background-image: url("../images/guarda2.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .cover-page h1 {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media screen and (max-width: 600px) {
      .cover-page h1 {
        top: 55%; } }

.bg-home-1 {
  background-color: black;
  color: white; }

.animate__animated.animate__zoomIn {
  --animate-duration: 5s; }

/*---prox eventos---*/
.bg-box-1 {
  width: 300px;
  text-align: center; }
  .bg-box-1:hover {
    box-shadow: 0 4px 8px 0 #BFB2A3, 0 6px 10px 0 #bf715467; }

.animation-4 {
  animation-duration: 10s; }

@keyframes example {
  from {
    left: -100px; }
  to {
    left: 0px; } }

/*------------el vino------------*/
.cover-page-2, .cover-page-3, .cover-page-4, .cover-page-5, .cover-page-6 {
  width: 100%;
  height: 300px;
  position: relative;
  background-image: url("../images/wine2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .cover-page-2 h1, .cover-page-3 h1, .cover-page-4 h1, .cover-page-5 h1, .cover-page-6 h1 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/*---------------------------tipos de vinos----------------------*/
.container-copas {
  position: relative;
  width: auto; }
  .container-copas img {
    display: block;
    width: 300px;
    height: 400px; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 400px;
  opacity: 0;
  transition: .5s ease;
  background-color: #0D0D0D; }
  .overlay div {
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }

.container-copas:hover .overlay {
  opacity: 1; }

/*-----edad del vino-----*/
.bg-age {
  border-bottom: 1px solid rgba(0, 0, 0, 0.589); }
  .bg-age:hover {
    box-shadow: 0 4px 8px 0 rgba(219, 186, 157, 0.671), 0 6px 20px 0 rgba(124, 103, 103, 0.884); }

nav .active {
  border-bottom: 1px outset #ffffff; }

.backg-nav {
  background-color: black; }

h1 {
  color: #A61103 #66201a #0D0D0D;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase; }

h2 {
  color: #A61103 #66201a #0D0D0D;
  font-size: 2.2rem;
  text-transform: uppercase; }

h3 {
  color: #A61103 #66201a #0D0D0D;
  font-size: 1.7rem;
  text-transform: uppercase; }

body {
  font-family: "Jost", sans-serif;
  font-size: 1.5rem;
  font-weight: 300; }

/*---enlaces---*/
p a {
  text-decoration: none;
  color: #7a3d3d; }
  p a:hover {
    color: slategrey;
    text-decoration: underline; }

/*espacio para los enlaces con id*/
:target::before {
  content: "";
  display: block;
  height: 100px;
  /* fixed header height*/
  margin: -105px 0 0;
  /* negative fixed header height */ }

/*---background guia del vino---*/
/*el extend es para el estilo del h1*/
.cover-page-3 {
  width: 100%;
  height: 300px;
  position: relative;
  background-image: url("../images/cabecera-vinos.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/*---servicio zoom on hover----*/
.zoom-bg, .zoom-aroma {
  padding: 50px;
  width: 550px;
  height: auto;
  margin: 0 auto; }
  .zoom-bg:hover, .zoom-aroma:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    transition: transform .2s; }
    @media screen and (max-width: 600px) {
      .zoom-bg:hover, .zoom-aroma:hover {
        transform: none; } }

.bg-col {
  background-color: #D9B26A; }

/*---------Guarda-----------*/
.transform {
  position: relative;
  animation-name: example;
  animation-duration: 8s;
  animation-fill-mode: forwards; }

.image-guarda {
  width: 100%;
  height: 580px; }

ul.icon-wine {
  padding: 1rem;
  list-style-type: none;
  font-size: 1.25rem; }
  ul.icon-wine li {
    margin-right: 0.6rem;
    padding-left: 1rem;
    margin-bottom: 1rem; }
    ul.icon-wine li .icon-list {
      padding-right: 1rem; }

/*------------aromas y defectos------------*/
/*el extend es para el estilo del h1*/
.cover-page-4 {
  width: 100%;
  height: 300px;
  position: relative;
  background-image: url("../images/def-aro.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.circle-one {
  color: #F2913D;
  background-color: #A61103;
  box-shadow: 0 4px 8px 0 rgba(219, 186, 157, 0.671), 0 6px 20px 0 rgba(112, 67, 67, 0.884);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  line-height: 200px; }

.circle-two {
  color: #F2913D;
  background-color: #590202;
  box-shadow: 0 4px 8px 0 rgba(219, 186, 157, 0.671), 0 6px 20px 0 rgba(112, 67, 67, 0.884);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  line-height: 200px; }

.circle-three {
  color: #F2913D;
  background-color: #594622;
  box-shadow: 0 4px 8px 0 rgba(219, 186, 157, 0.671), 0 6px 20px 0 rgba(112, 67, 67, 0.884);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  line-height: 200px; }

.bg-aromas {
  border-bottom: rgba(0, 0, 0, 0.808) 1px solid; }

.animation-1, .animation-4, .animation-2, .animation-3 {
  position: relative;
  animation-name: example;
  animation-duration: 5s;
  animation-fill-mode: forwards; }

.animation-2 {
  animation-duration: 6s; }

.animation-3 {
  animation-duration: 7s; }

@keyframes example {
  from {
    left: -100px; }
  to {
    left: 0px; } }

/*-----defectos------*/
/*------------como catar------------*/
/*el extend es para el estilo del h1*/
.cover-page-5 {
  width: 100%;
  height: 300px;
  position: relative;
  background-image: url("../images/cata-vino.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.box-flex {
  width: 380px; }

.cata-bg {
  background-color: #D9B26A; }
  .cata-bg:hover {
    box-shadow: 0 4px 8px 0 #BFB2A3, 0 6px 20px 0 #bf715467; }

/*------------contacto------------*/
/*el extend es para el estilo del h1*/
.cover-page-6 {
  width: 100%;
  height: 300px;
  position: relative;
  background-image: url("../images/cabecera-contact.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bg-form {
  background-color: #D9B26A;
  border: 1px solid #594622;
  border-radius: 1.5rem; }

.btn-color-send {
  color: #fff;
  background-color: #594622;
  border-radius: 10px 100px / 120px;
  border: solid 1px #594622;
  width: 200px; }
  .btn-color-send:hover {
    color: #fff;
    background-color: #590202;
    border: solid 1px #594622; }
    .btn-color-send:hover:focus {
      background-color: #BFB2A3; }

.btn-color-reset {
  color: #fff;
  background-color: #594622bd;
  border-radius: 10px 100px / 120px;
  border: solid 1px #594622;
  width: 200px; }
  .btn-color-reset:hover {
    color: #fff;
    background-color: #590202;
    border: solid 1px #594622; }
    .btn-color-reset:hover:focus {
      background-color: #BFB2A3; }

.btn-color-check {
  color: #fff;
  background-color: #BF7154;
  border-radius: 10px 100px / 120px;
  border: solid 1px #594622;
  width: 200px; }
  .btn-color-check:hover {
    color: #fff;
    background-color: #590202;
    border: solid 1px #594622; }
    .btn-color-check:hover:focus {
      background-color: #BFB2A3; }

.btn-color-check {
  width: 30px; }

footer {
  font-family: "Oswald", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  color: #A68053;
  background: linear-gradient(90deg, #090303 0%, #4d2424 50%, #4a0000 100%); }
  footer a {
    color: #A68053 !important;
    /*el important va porque sino no me toma el opacity y me pone por defecto el hover del enlace en azul*/
    font-size: 2.5rem; }
    footer a:hover {
      opacity: 0.5; }
