h1 {
  color: #A61103; }

h2 {
  color: #66201a; }

h3 {
  color: #d3a144; }

.youtube {
  color: #13e47b; }

.articles {
  color: #FFAC83; }

.commynity {
  color: #3F78C9; }

.my-pag {
  color: #8a0766; }

/*-----card index color del vino-----*/
.card-text {
  font-size: 1.2rem; }

/*-----btn card colores del vino-----*/
.btn-card a {
  color: #BF7950;
  text-decoration: none; }

.btn-card:hover {
  background-color: #e9ddbb; }

.img-circle {
  width: 430px;
  height: 250px;
  border-radius: 50%; }

.paragraph {
  color: #cc0e41;
  font-size: 1.6rem; }

nav .active {
  border-bottom: 1px outset #ffffff; }

.icon-glass {
  font-size: 40px;
  color: #6E6F73; }
  .icon-glass:hover {
    color: #ffffffb7; }

h1 {
  color: #A61103 #66201a #d3a144;
  text-align: center;
  font-size: 2.5rem; }

h2 {
  color: #A61103 #66201a #d3a144;
  text-align: center;
  font-size: 2.2rem; }

h3 {
  color: #A61103 #66201a #d3a144;
  text-align: center;
  font-size: 1.8rem; }

body {
  font-family: "Jost", sans-serif;
  font-size: 1.5rem;
  font-weight: 300; }

/*---enlaces---*/
p a {
  text-decoration: none; }
  p a:hover {
    color: slategrey;
    text-decoration: underline; }

:target::before {
  content: "";
  display: block;
  height: 80px;
  /* fixed header height*/
  margin: -80px 0 0;
  /* negative fixed header height */ }

footer {
  padding: 0.8em;
  margin: 0; }

/*-------grid Maridaje-------------*/
.contenedor-maridaje {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, auto, 1fr);
  justify-items: stretch;
  text-align: center; }

.table-header {
  padding: 5px;
  background-color: #262626;
  color: #F2E088;
  border: 1px solid #F2F2F2;
  font-weight: 300; }

.table-item {
  background-color: #F2E088;
  padding: 5px;
  border: 2px solid #F2F2F2;
  font-weight: 400; }

/*---------Guarda-----------*/
ul.barrica {
  padding-left: 1rem;
  list-style-type: none;
  margin-left: 1rem;
  color: #590202;
  font-size: 20px; }
  ul.barrica li {
    margin-right: 10px;
    padding-left: 1.8rem;
    background-image: url(../images/barrica.png);
    background-position: 0 0;
    background-size: 1.4rem 1.4rem;
    background-repeat: no-repeat;
    margin-bottom: 1rem; }

.circle-one {
  background-color: #f0be93;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  line-height: 200px; }

.circle-two {
  background-color: #c97831;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  line-height: 200px; }

.circle-three {
  background-color: #8C0327;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  line-height: 200px; }

/*-----pagina con BEM----*/
.cata {
  margin: 5px;
  border: 3px double #0D0D0D;
  z-index: 1; }

/*-----Flexbox-----*/
.cata__phases {
  display: flex;
  flex-wrap: wrap; }

.cata__phases--card {
  flex: 1;
  flex-basis: 250px;
  padding: 15px;
  margin: 15px;
  background-color: #BF7154; }

.cata__tittle--uppercase {
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase; }

.cata__text {
  font-size: 1.2rem;
  padding-top: 15px;
  font-weight: 300;
  text-align: center; }

/*----accordion modificando------*/
.accordion-button:not(.collapsed) {
  background-color: #bf715481;
  color: #BF7154; }

.accordion-button:focus {
  box-shadow: 0 0 0 0.2rem #d8775481; }

/*-------mas info - transformacion------*/
.info__mas {
  overflow: hidden;
  margin-bottom: 10px;
  padding-left: 5px;
  width: 150px;
  height: 30px;
  transition: 1s; }
  .info__mas:hover {
    width: 80%;
    transform: translate(10px); }

.btn-color-send {
  background-color: #f442b0;
  border-radius: 10px 100px / 120px;
  border: solid 1px #BF7154; }
  .btn-color-send:hover {
    background-color: #BFB2A3;
    border: solid 1px #594C3B; }

.btn-color-reset {
  background-color: #bb0685b2;
  border-radius: 10px 100px / 120px;
  border: solid 1px #BF7154; }
  .btn-color-reset:hover {
    background-color: #BFB2A3;
    border: solid 1px #594C3B; }

.btn-color-check {
  background-color: #a510785b;
  border-radius: 10px 100px / 120px;
  border: solid 1px #BF7154; }
  .btn-color-check:hover {
    background-color: #BFB2A3;
    border: solid 1px #594C3B; }

.btn-color-send {
  width: 200px; }

.btn-color-reset {
  width: 150px; }

.btn-color-check {
  width: 30px; }

.bg-form {
  background-color: #BFB2A3;
  border-radius: 10px; }

footer {
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #A68053;
  background: linear-gradient(90deg, #090303 0%, #4d2424 50%, #4a0000 100%); }
  footer a {
    color: #A68053 !important;
    /*el important va porque sino no me toma el opacity y me pone por defecto el hover del enlace en azul*/
    font-size: 3rem; }
    footer a:hover {
      opacity: 0.5; }
