h1 {
  color: #A61103; }

h2 {
  color: #66201a; }

h3 {
  color: #d3a144; }

.youtube {
  color: #13e47b; }

.articles {
  color: #FFAC83; }

.commynity {
  color: #3F78C9; }

.my-pag {
  color: #8a0766; }

/*------------el vino------------*/
.hero-image2 {
  width: 100%;
  height: 300px;
  opacity: .9;
  position: relative;
  background-image: url("../images/wine2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/*---------------------------tipos de vinos----------------------*/
.container3 {
  position: relative;
  width: auto; }

.image {
  display: block;
  width: 300px;
  height: 400px; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;
  height: 400px;
  opacity: 0;
  transition: .5s ease;
  background-color: #594C3B; }

.container3:hover .overlay {
  opacity: 1; }

.text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

/*-----btn card colores del vino-----*/
.btn-card a {
  color: #BF7950;
  text-decoration: none; }

.btn-card:hover {
  background-color: #e9ddbb; }

.img-circle {
  width: 430px;
  height: 250px;
  border-radius: 50%; }

/*----segun su edad------*/
/* //-------conditional---------
$result: paragraph;

.paragraph {
  @if $result == paragraph{
    color: #cc0e41;
    font-size: 1.6rem;
  } @else{
    color: #BF7154;
    font-size: 1.2rem;
  }
} */
nav .active {
  border-bottom: 1px outset #ffffff; }

.backg-nav {
  background-color: black; }

h1 {
  color: #A61103 #66201a #d3a144;
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase; }

h2 {
  color: #A61103 #66201a #d3a144;
  font-size: 2.2rem;
  text-transform: uppercase; }

h3 {
  color: #A61103 #66201a #d3a144;
  font-size: 1.8rem;
  text-transform: uppercase; }

body {
  font-family: "Jost", sans-serif;
  font-size: 1.5rem;
  font-weight: 300; }

/*---enlaces---*/
p a {
  text-decoration: none; }
  p a:hover {
    color: slategrey;
    text-decoration: underline; }

/*espacio para los enlaces con id*/
:target::before {
  content: "";
  display: block;
  height: 100px;
  /* fixed header height*/
  margin: -105px 0 0;
  /* negative fixed header height */ }

footer {
  padding: 2em;
  margin: 0; }

/*---background guia del vino---*/
.hero-image3 {
  width: 100%;
  height: 300px;
  opacity: .9;
  position: relative;
  background-image: url("../images/cabecera-vinos.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/*---imagen antes de servicio---*/
.fondo2 {
  opacity: .8; }

/*-------grid Maridaje-------------*/
.contenedor-maridaje {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, auto, 1fr);
  justify-items: stretch;
  text-align: center;
  padding: 0; }

.table-header {
  padding: 5px;
  background-color: #BF7154;
  color: #0D0D0D;
  border: 1px solid #bfb2a3;
  font-weight: 400; }

.table-item {
  background-color: #bfb2a344;
  padding: 5px;
  border: 1px solid #bfb2a3;
  font-weight: 400; }

/*---servicio zoom on hover----*/
.zoom-bg {
  padding: 50px;
  width: 550px;
  height: auto;
  margin: 0 auto; }
  .zoom-bg:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    transition: transform .2s; }

@media screen and (max-width: 600px) {
  .zoom-bg:hover {
    transform: none; } }

.bg-servicio {
  background-color: #bfb2a344; }

/*---------Guarda-----------*/
.transform {
  position: relative;
  animation-name: example;
  animation-duration: 8s;
  animation-fill-mode: forwards; }

.image-guarda {
  width: 100%;
  height: 580px; }

ul.icon-wine {
  padding: 1rem;
  list-style-type: none;
  font-size: 20px; }
  ul.icon-wine li {
    margin-right: 10px;
    padding-left: 1rem;
    margin-bottom: 1rem; }
    ul.icon-wine li .icon-list {
      padding-right: 1rem; }

.circle-one {
  background-color: #f0be93;
  box-shadow: 0 4px 8px 0 rgba(155, 105, 62, 0.671), 0 6px 20px 0 rgba(134, 33, 33, 0.884);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  line-height: 200px; }

.circle-two {
  background-color: #c97831;
  box-shadow: 0 4px 8px 0 rgba(155, 105, 62, 0.671), 0 6px 20px 0 rgba(134, 33, 33, 0.884);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  line-height: 200px; }

.circle-three {
  background-color: #8C0327;
  box-shadow: 0 4px 8px 0 rgba(155, 105, 62, 0.671), 0 6px 20px 0 rgba(134, 33, 33, 0.884);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  line-height: 200px; }

.img-cata {
  margin: 1rem; }

.cata__bg {
  background-color: #f2b17988;
  box-shadow: 0 4px 8px 0 rgba(242, 177, 121, 0.671), 0 6px 20px 0 rgba(156, 56, 56, 0.884);
  margin: 0; }

.div1 {
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-fill-mode: forwards; }

@keyframes example {
  from {
    left: -100px; }
  to {
    left: 0px; } }

.cata__bg--2 {
  background-color: #8c032788;
  box-shadow: 0 4px 8px 0 rgba(242, 177, 121, 0.671), 0 6px 20px 0 rgba(156, 56, 56, 0.884);
  margin: 0; }

.div2 {
  position: relative;
  animation-name: example;
  animation-duration: 5s;
  animation-fill-mode: forwards; }

@keyframes example {
  from {
    left: -100px; }
  to {
    left: 0px; } }

.cata__bg--3 {
  background-color: #8c441b88;
  box-shadow: 0 4px 8px 0 rgba(242, 177, 121, 0.671), 0 6px 20px 0 rgba(156, 56, 56, 0.884);
  margin: 0; }

.div3 {
  position: relative;
  animation-name: example;
  animation-duration: 7s;
  animation-fill-mode: forwards; }

@keyframes example {
  from {
    left: -100px; }
  to {
    left: 0px; } }

/*----accordion modificando------*/
.accordion-button:not(.collapsed) {
  background-color: #bf715481;
  color: #BF7154; }

.accordion-button:focus {
  box-shadow: 0 0 0 0.2rem #d8775481; }

/*-------mas info - transformacion------*/
.info__mas {
  overflow: hidden;
  margin-bottom: 10px;
  width: 150px;
  height: 30px;
  transition: 1s; }
  .info__mas:hover {
    width: 80%;
    transform: translate(10px); }

.bg-form {
  background-color: #BFB2A3;
  box-shadow: 0 4px 8px 0 rgba(242, 177, 121, 0.671), 0 6px 20px 0 rgba(156, 56, 56, 0.884);
  border-radius: 10px; }

.btn-color-send {
  background-color: #f442b0;
  border-radius: 10px 100px / 120px;
  border: solid 1px #BF7154;
  width: 200px; }
  .btn-color-send:hover {
    background-color: #BFB2A3;
    border: solid 1px #594C3B; }

.btn-color-reset {
  background-color: #bb0685b2;
  border-radius: 10px 100px / 120px;
  border: solid 1px #BF7154;
  width: 200px; }
  .btn-color-reset:hover {
    background-color: #BFB2A3;
    border: solid 1px #594C3B; }

.btn-color-check {
  background-color: #a510785b;
  border-radius: 10px 100px / 120px;
  border: solid 1px #BF7154;
  width: 200px; }
  .btn-color-check:hover {
    background-color: #BFB2A3;
    border: solid 1px #594C3B; }

.btn-color-check {
  width: 30px; }

.bg-ifr {
  box-shadow: 0 4px 8px 0 rgba(88, 47, 11, 0.671), 0 6px 20px 0 rgba(77, 33, 33, 0.884); }

footer {
  font-family: "Oswald", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #A68053;
  background: linear-gradient(90deg, #090303 0%, #4d2424 50%, #4a0000 100%); }
  footer a {
    color: #A68053 !important;
    /*el important va porque sino no me toma el opacity y me pone por defecto el hover del enlace en azul*/
    font-size: 2.5rem; }
    footer a:hover {
      opacity: 0.5; }
