/*------------aromas y defectos------------*/
/*el extend es para el estilo del h1*/
.cover-page-4{
    @include background ("../images/def-aro.png");
    @extend .cover-page-2;
  }


//maps------------título tipos de aromas---

$colors: (one:#A61103, two:#590202, three:#594622,);
@each $name-color, $bg-color in $colors{
    .circle-#{$name-color}{
        color: #F2913D;
        background-color: $bg-color;
        box-shadow: 0 4px 8px 0 rgba(219, 186, 157, 0.671), 0 6px 20px 0 rgba(112, 67, 67, 0.884);
        width: 200px;
        height: 200px;
        border-radius: 50%;
        text-align: center;
        line-height: 200px;
    }
}


.bg-aromas{
   border-bottom: rgba(0, 0, 0, 0.808) 1px solid;
}
/* animaciones tipos de aromas*/
.animation-1 {
  position: relative;
  animation-name: example;
  animation-duration: 5s;  
  animation-fill-mode: forwards;
}  

.animation-2{
  @extend .animation-1;
  animation-duration: 6s;
}

.animation-3{
  @extend .animation-1;
  animation-duration: 7s; 
}

@keyframes example {
  from {left: -100px;}
  to {left: 0px;}
}

/*-----defectos------*/
.zoom-aroma {
  @extend .zoom-bg;
}
  