/*------------como catar------------*/
/*el extend es para el estilo del h1*/
.cover-page-5{
  @include background ("../images/cata-vino.jpg");
  @extend .cover-page-2;
}

.box-flex{
  width: 380px;
}


.cata-bg{
  background-color: #D9B26A;
  &:hover{
    box-shadow: 0 4px 8px 0 #BFB2A3, 0 6px 20px 0 #bf715467;
  }
}


