
.img-cata{
    margin: 1rem;
}

.cata__bg{
    background-color: #f2b17988 ;
    box-shadow: 0 4px 8px 0 rgba(242, 177, 121, 0.671), 0 6px 20px 0 rgba(156, 56, 56, 0.884);
    margin: 0;
}

.div1 {
    position: relative;
    animation-name: example;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
  }

  
  @keyframes example {
    from {left: -100px;}
    to {left: 0px;}
  }

.cata__bg--2{
    background-color: #8c032788;
    box-shadow: 0 4px 8px 0 rgba(242, 177, 121, 0.671), 0 6px 20px 0 rgba(156, 56, 56, 0.884);
    margin: 0;
} 

.div2 {
    position: relative;
    animation-name: example;
    animation-duration: 5s;  
    animation-fill-mode: forwards;
  }

  @keyframes example {
    from {left: -100px;}
    to {left: 0px;}
  }


.cata__bg--3{
    background-color: #8c441b88;
    box-shadow: 0 4px 8px 0 rgba(242, 177, 121, 0.671), 0 6px 20px 0 rgba(156, 56, 56, 0.884);
    margin: 0;
} 

.div3 {
    position: relative;
    animation-name: example;
    animation-duration: 7s;  
    animation-fill-mode: forwards;
  }

  
  @keyframes example {
    from {left: -100px;}
    to {left: 0px;}
  }


/*----accordion modificando------*/

 .accordion-button:not(.collapsed){
    background-color: #bf715481;
    color: #BF7154;   
}

.accordion-button:focus {
        box-shadow: 0 0 0 0.2rem #d8775481;
    }
    

/*-------mas info - transformacion------*/

.info__mas {
    overflow: hidden;
    margin-bottom: 10px;
    width: 150px;
    height: 30px;
    transition: 1s;
        &:hover {
        width:  80%;
        transform: translate( 10px);
    }
}
