// ----each-----botones----------

$btn-colors: (send:#f442b0, reset:#bb0685b2, check:#a510785b,);
@each $name-color, $bg-color-btn in $btn-colors{
    .btn-color-#{$name-color}{
        background-color: $bg-color-btn;
		border-radius: 10px 100px / 120px;
		border: solid 1px #BF7154;
  			&:hover{
    		background-color: #BFB2A3;
    		border: solid 1px #594C3B;
    	}
	}
}

// ----operaciones---------------
$ancho: 600px;

.btn-color-send {
    width: $ancho/3;
}
.btn-color-reset {
    width: ($ancho/3)-50;
}

.btn-color-check {
	width: ($ancho/6)-70;
}

.bg-form{
	background-color: #BFB2A3;
	border-radius:  10px;
}


