/*------------el vino------------*/
.cover-page-2{
  @include background ("../images/wine2.jpg");
  h1 {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
}


/*---------------------------tipos de vinos----------------------*/
.container-copas {
  position: relative;
  width: auto;
  img {
    display: block;
    width: 300px;
    height: 400px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 400px;
  opacity: 0;
  transition: .5s ease;
  background-color: #0D0D0D;
    div {
      color: white;
      font-size: 1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
}

.container-copas:hover .overlay {
  opacity: 1;
}


/*-----edad del vino-----*/
.bg-age{
  border-bottom: 1px solid rgba(0, 0, 0, 0.589);
  &:hover{
    box-shadow: 0 4px 8px 0 rgba(219, 186, 157, 0.671), 0 6px 20px 0 rgba(124, 103, 103, 0.884);
  }
}

