/*---enlaces---*/
p {
    a {
    text-decoration: none;
        &:hover{
            color: slategrey;
            text-decoration: underline;
        }
    }
}

:target::before {
    content: "";
    display: block;
    height: 80px; /* fixed header height*/
    margin: -80px 0 0; /* negative fixed header height */
  }


  footer{
    @include p-m(0.8em, 0);
  }
