/*---enlaces---*/
p {
    a {
    text-decoration: none;
        &:hover{
            color: slategrey;
            text-decoration: underline;
        }
    }
}

h1,h2,h3 {
    @include p-m(0.1em, 0.1em);
  }

  footer{
    @include p-m(0.8em, 0);
  }
