/*---enlaces---*/
p {
    a {
    text-decoration: none;
        &:hover{
            color: slategrey;
            text-decoration: underline;
        }
    }
}


/*espacio para los enlaces con id*/
:target::before {
    content: "";
    display: block;
    height: 100px; /* fixed header height*/
    margin: -105px 0 0; /* negative fixed header height */
  }



