/*---background guia del vino---*/
.hero-image3{
  @include background ("../images/cabecera-vinos.jpg");
}


/*---imagen antes de servicio---*/
.fondo2{
  opacity: .8;
}


/*-------grid Maridaje-------------*/
  
  .contenedor-maridaje {
    display: grid;  
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto, 1fr);
    justify-items: stretch;
    text-align: center;  
    padding: 0;
    }
  
  
  .table-header{
    padding: 5px; 
    background-color: #BF7154;
    color:#0D0D0D;
    border: 1px solid #bfb2a3;
    font-weight: 400;
  }
  
  .table-item{
    background-color: #bfb2a344;
    padding: 5px;
    border: 1px solid #bfb2a3;
    font-weight: 400;
  }
  

  /*---servicio zoom on hover----*/
.zoom-bg {
  padding: 50px;
  width: 550px;
  height: auto;
  margin: 0 auto;
  &:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    transition: transform .2s;
  }
}

@media screen and (max-width: 600px) {
  .zoom-bg:hover {
    transform: none;
  }
}

.bg-servicio{
  background-color: #bfb2a344;
}
  

  /*---------Guarda-----------*/

.transform{
  position: relative;
  animation-name: example;
  animation-duration: 8s;  
  animation-fill-mode: forwards;
}

.image-guarda{
  width: 100%;
  height: 580px;
} 


ul.icon-wine {
  padding: 1rem;
  list-style-type: none;
  font-size: 20px;
  li{
    margin-right: 10px;
    padding-left: 1rem;
    margin-bottom: 1rem;
    .icon-list{
      padding-right: 1rem;
      
    }
  }
}
