/*-----card index color del vino-----*/
.card-text{
    font-size: 1.2rem;
  }
  
/*-----btn card colores del vino-----*/
.btn-card a{
  color: #BF7950;
  text-decoration: none;
}
.btn-card:hover{
  background-color: #e9ddbb;
}

.img-circle{
  width: 430px;
  height: 250px;
  border-radius: 50%;
}

//-------conditional---------
$result: paragraph;

.paragraph {
  @if $result == paragraph{
    color: #cc0e41;
    font-size: 1.6rem;
  } @else{
    color: #BF7154;
    font-size: 1.2rem;
  }
}