/*------------el vino------------*/
.hero-image {
  background-image: url("../images/wine2.jpg");
  width: 100%;
  height: 300px;
  opacity: .9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*---------------------------tipos de vinos----------------------*/
.container3 {
  position: relative;
  width: auto;
}

.image {
  display: block;
  width: 300px;
  height: 400px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;
  height: 400px;
  opacity: 0;
  transition: .5s ease;
  background-color: #594C3B;
}

.container3:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.bg-age{
  background-color: rgba(0, 0, 0, 0.459);
}

/*-----btn card colores del vino-----*/
.btn-card a{
  color: #BF7950;
  text-decoration: none;
}
.btn-card:hover{
  background-color: #e9ddbb;
}

.img-circle{
  width: 430px;
  height: 250px;
  border-radius: 50%;
}


/*----segun su edad------*/


/* //-------conditional---------
$result: paragraph;

.paragraph {
  @if $result == paragraph{
    color: #cc0e41;
    font-size: 1.6rem;
  } @else{
    color: #BF7154;
    font-size: 1.2rem;
  }
} */