/*---cabeceras-----*/
@mixin background ($imgpath,$position:center,$repeat: no-repeat, $size:cover){
    width: 100%;
    height: 300px;
    position: relative;
        
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
        size:$size;
    }
}

