nav{
    .active{
      border-bottom: 1px outset #ffffff;
    }
}

.backg-nav{
  background-color: black;
}


/* .icon-glass{
  font-size: 40px;
  color:#6E6F73;
  &:hover{
    color: #ffffffb7;
  }
} */



