h1 {
  color: $color-title;
  text-align: center;
  font-size: $title-size;
}
  
h2 {
  color: $color-title;
  text-align: center;
  font-size: $subtitle-size;
}
  
h3 {
  color: $color-title;
  text-align: center;
  font-size: $another-title-size;
}
  
body{
    font-family: $my-font;
    font-size: $body-font-size;
    font-weight: 300;
}