h1 {
  color: $color-title;
  font-size: $title-size;
  font-weight: 700;
  text-transform: uppercase;
}
  
h2 {
  color: $color-title;
  margin: 2rem;
  font-size: $subtitle-size;
  text-transform: uppercase;
}
  
h3 {
  color: $color-title;
  margin: 2rem;
  font-size: $another-title-size;
  text-transform: uppercase;
}
  
body{
    font-family: $my-font;
    font-size: $body-font-size;
    font-weight: 300;
}