$title-size: 4rem;
$subtitle-size: 2.2rem;
$another-title-size: 1.7rem;

$my-font:'Jost', sans-serif;
$body-font-size: 1.5rem;


$footer-font: 'Oswald', sans-serif;
$footer-color: #A68053;
$footer-size: 1.4rem;
$footer-icon: 2.5rem;

//----for----------

$color-title: #A61103 #66201a #0D0D0D;

@for $i from 1 through 3 {
	h#{$i}{
		color: nth($color-title, $i);
	}
}




  




